:root{
    --vermelho:#e50914;
    --preto:#141414;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base */
body{
    background: var(--preto);
    font-family: 'Arial','Times New Roman';
    color: #fff;

}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


 
}

header .logo{
    color: var(--vermelho);
    font-family:'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color:#ffff;
  
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, 5%), rgba(0,0,0, 5%)100%),  url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo{
    font-size:40px;
    font-family: 'Trebuchet MS', 'Arial, sans-serif';
    margin-top: 15%;
}

.botao{
    background-color: rgba(0,0,0,.50);
    color:#fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 2s ease all;
    margin-left: 20px;
}

.botao:hover{
    background-color: #ffff;
    color:#141414;

}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    width:100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top:5px;

}
